<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{ titleModal }}</h5>
  <button type="button" class="btn-close" (click)="dismissModal()"></button>
</div>
<form [formGroup]="formBiography" (ngSubmit)="onSubmit($event)">
  <div class="modal-body">
    <app-alert-danger
      *ngIf="mErrMessage"
      [mensajeAlert]="mErrMessage"
      [mensajeStatus]="mErrStatus"
      [mensajeStatusText]="mErrStatusText"
    ></app-alert-danger>
    <!-- tabs inicio -->
    <ul class="nav nav-tabs" role="tablist" id="pestañas">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="tab-biography"
          data-bs-toggle="tab"
          data-bs-target="#biography"
          type="button"
          role="tab"
          aria-controls="biography"
          aria-selected="true"
        >
          Biografía
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="tab-contact"
          data-bs-toggle="tab"
          data-bs-target="#contact"
          type="button"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
        >
          Contacto
        </button>
      </li>
    </ul>
    <!-- tabs fin -->

    <!-- tabs content inicio -->
    <div class="tab-content" id="contenidoPestañas">
      <div
        class="tab-pane fade show active"
        id="biography"
        role="tabpanel"
        aria-labelledby="tab-biography"
      >
        <input
          type="text"
          id="id"
          formControlName="id"
          value="0"
          style="display: none;"
        />
        <input
          type="text"
          id="usuarios_id"
          formControlName="usuarios_id"
          value="0"
          style="display: none;"
        />
        <div class="mb-3">
          <label for="titulo" class="form-label">Titulo:</label>
          <input
            type="text"
            name="titulo"
            id="titulo"
            formControlName="titulo"
            class="form-control shadow"
            placeholder="Ej.: Su titulo académico o puesto de trabajo"
            [class.border-danger]="TituloValid"
          />
          <span *ngIf="TituloError" class="errorMessage">
            {{ mErrTitulo }}
          </span>
        </div>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            formControlName="nombre"
            class="form-control shadow"
            placeholder="Ingrese su nombre"
            [class.border-danger]="NombreValid"
          />
          <span *ngIf="NombreError" class="errorMessage">
            {{ mErrNombre }}
          </span>
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido:</label>
          <input
            type="text"
            name="apellido"
            id="apellido"
            formControlName="apellido"
            class="form-control shadow"
            placeholder="Ingrese su apellido"
            [class.border-danger]="ApellidoValid"
          />
          <span *ngIf="ApellidoError" class="errorMessage">
            {{ mErrApellido }}
          </span>
        </div>
        <div class="mb-3">
          <label for="about-you" class="form-label">Acerca de tí:</label>
          <textarea
            name="about-you"
            id="about-you"
            formControlName="acercade"
            cols="30"
            rows="5"
            class="form-control shadow"
            placeholder="Escriba aqui algo acerca de usted..."
            [class.border-danger]="AcercadeValid"
            >{{ bio.acercade }}</textarea
          >
          <span *ngIf="AcercadeError" class="errorMessage">
            {{ mErrAcercade }}
          </span>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="contact"
        role="tabpanel"
        aria-labelledby="tab-contact"
      >
        <div class="mb-3">
          <label for="github" class="form-label"
            >GitHub:
            <span
              placement="end"
              ngbTooltip="ej.: https://url-de-github.com/tu-nickname"
              class="customTooltip"
            >
              <fa-icon [icon]="faCircleQuestion"></fa-icon></span
          ></label>
          <input
            type="text"
            name="github"
            id="github"
            formControlName="github"
            class="form-control shadow"
            placeholder="GitHub"
            [class.border-danger]="GithubValid"
          />
          <span *ngIf="GithubError" class="errorMessage">
            {{ mErrGithub }}
          </span>
        </div>
        <div class="mb-3">
          <label for="linkedin" class="form-label"
            >LinkedIn:
            <span
              placement="end"
              ngbTooltip="ej.: https://url-de-linkedin.com/tu-nickname"
              class="customTooltip"
            >
              <fa-icon [icon]="faCircleQuestion"></fa-icon></span
          ></label>
          <input
            type="text"
            name="linkedin"
            formControlName="linkedin"
            id="linkedin"
            class="form-control shadow"
            placeholder="LinkedIn"
            [class.border-danger]="LinkedinValid"
          />
          <span *ngIf="LinkedinError" class="errorMessage">
            {{ mErrLinkedin }}
          </span>
        </div>
        <div class="mb-3">
          <label for="correo" class="form-label"
            >Correo:
            <span
              placement="end"
              ngbTooltip="ej.: nickname@dominio.com"
              class="customTooltip"
            >
              <fa-icon [icon]="faCircleQuestion"></fa-icon></span
          ></label>
          <input
            type="mail"
            name="correo"
            id="correo"
            formControlName="correo"
            class="form-control shadow"
            placeholder="Correo"
            [class.border-danger]="CorreoValid"
          />
          <span *ngIf="CorreoError" class="errorMessage">
            {{ mErrCorreo }}
          </span>
        </div>
      </div>
    </div>
    <!-- tabs content fin -->
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary shadow"
      (click)="closeModal()"
    >
      Cerrar
    </button>
    <button [disabled]="spinner" type="submit" class="btn btn-primary shadow">
      <app-spinner *ngIf="spinner"></app-spinner>
      Aceptar
    </button>
  </div>
</form>
