<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">{{ titleModal }}</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="close"
    (click)="dismissModal()"
  ></button>
</div>
<form [formGroup]="formExperience" (ngSubmit)="onSubmit($event)">
  <div class="modal-body">
    <app-alert-danger
      *ngIf="mErrMessage"
      [mensajeAlert]="mErrMessage"
      [mensajeStatus]="mErrStatus"
      [mensajeStatusText]="mErrStatusText"
    ></app-alert-danger>
    <div class="mb-3">
      <input
        type="text"
        id="id"
        formControlName="id"
        value="0"
        style="display: none;"
      />
      <input
        type="text"
        id="usuarios_id"
        formControlName="usuarios_id"
        value="0"
        style="display: none;"
      />
      <label for="cargo" class="form-label">Cargo:</label>
      <input
        type="text"
        id="cargo"
        name="cargo"
        formControlName="cargo"
        class="form-control shadow"
        placeholder="Ingrese su cargo o puesto"
        [class.border-danger]="CargoValid"
      />
      <span *ngIf="CargoError" class="errorMessage">{{ mErrCargo }}</span>
    </div>
    <div class="mb-3">
      <label for="empresa" class="form-label">Nombre de la Empresa:</label>
      <input
        type="text"
        name="empresa"
        id="empresa"
        formControlName="empresa"
        class="form-control shadow"
        placeholder="Ingrese el nombre de la Empresa"
        [class.border-danger]="EmpresaValid"
      />
      <span *ngIf="EmpresaError" class="errorMessage">{{ mErrEmpresa }}</span>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-6">
          <label for="desde" class="form-label">Desde:</label>
          <input
            type="date"
            name="desde"
            id="desde"
            formControlName="desde"
            class="form-control shadow"
            [class.border-danger]="DesdeValid"
          />
          <span *ngIf="DesdeError" class="errorMessage">{{ mErrDesde }}</span>
        </div>
        <div class="col-6">
          <label for="hasta" class="form-label"
            >Hasta:
            <span
              placement="end"
              ngbTooltip="Si aun sigue 'trabajando' por favor deje en blanco este campo, si guarda una fecha no podra ser borrada mas adelante, pero si la puede modificar"
              class="customTooltip"
              style="color: red;"
            >
              <fa-icon [icon]="faCircleQuestion"></fa-icon
            ></span>
          </label>
          <input
            type="date"
            name="hasta"
            id="hasta"
            formControlName="hasta"
            class="form-control shadow"
            [class.border-danger]="HastaValid"
          />
          <span *ngIf="HastaError" class="errorMessage">{{ mErrHasta }}</span>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="reftel" class="form-label">Contacto de Referencia:</label>
      <input
        type="text"
        name="reftelef"
        id="reftelef"
        formControlName="reftelef"
        class="form-control shadow"
        placeholder="Telefono de referencia"
        [class.border-danger]="ReftelefValid"
      />
      <span *ngIf="ReftelefError" class="errorMessage">{{ mErrReftelef }}</span>
    </div>
    <div class="mb-3">
      <label for="refnombre" class="form-label"
        >Nombre del Contacto de Referencia:</label
      >
      <input
        type="text"
        name="refnombre"
        id="refnombre"
        formControlName="refnombre"
        class="form-control shadow"
        placeholder="Nombre del contacto de referencia"
        [class.border-danger]="RefnombreValid"
      />
      <span *ngIf="RefnombreError" class="errorMessage">{{
        mErrRefnombre
      }}</span>
    </div>
    <div class="mb-3">
      <label for="tareas" class="form-label"
        >Tareas realizadas:
        <span
          placement="end"
          ngbTooltip="Asegurese de usar comas (,) para citar las tareas que le asignaron para armar una lista ¡es muy importante!"
          class="customTooltip"
        >
          <fa-icon [icon]="faCircleQuestion"></fa-icon></span
      ></label>
      <textarea
        name="tarea"
        id="tarea"
        formControlName="tarea"
        class="form-control shadow"
        cols="30"
        rows="5"
        placeholder="Nombre las tareas entre comas (,) ¡es muy importante!"
        [class.border-danger]="TareaValid"
      ></textarea>
      <span *ngIf="TareaError" class="errorMessage">{{ mErrTarea }}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary shadow"
      data-bs-dismiss="modal"
      (click)="closeModal()"
    >
      Cerrar
    </button>
    <button [disabled]="spinner" type="submit" class="btn btn-primary shadow">
      <app-spinner *ngIf="spinner"></app-spinner>
      Aceptar
    </button>
  </div>
</form>
