<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">Atención!!</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="dismissModal()"
  ></button>
</div>
<div class="modal-body text-center">
  <h6>Desea eliminar {{ descpCard }}?</h6>
  <app-alert-danger
    *ngIf="mErrMessage"
    [mensajeAlert]="mErrMessage"
    [mensajeStatus]="mErrStatus"
    [mensajeStatusText]="mErrStatusText"
  ></app-alert-danger>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    data-bs-dismiss="modal"
    (click)="closeModal()"
  >
    Cerrar
  </button>
  <button
    [disabled]="spinner"
    type="button"
    class="btn btn-danger"
    (click)="deleteSome()"
  >
    <app-spinner *ngIf="spinner"></app-spinner>
    Aceptar
  </button>
</div>
