<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">{{ titleModal }}</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="close"
    (click)="dismissModal()"
  ></button>
</div>
<form [formGroup]="formSkill" (ngSubmit)="onSubmit($event)">
  <div class="modal-body">
    <app-alert-danger
      *ngIf="mErrMessage"
      [mensajeAlert]="mErrMessage"
      [mensajeStatus]="mErrStatus"
      [mensajeStatusText]="mErrStatusText"
    ></app-alert-danger>
    <input
      type="text"
      id="id"
      formControlName="id"
      value="0"
      style="display: none;"
    />
    <input
      type="text"
      id="usuarios_id"
      formControlName="usuarios_id"
      value="0"
      style="display: none;"
    />
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción:</label>
      <input
        type="text"
        id="descripcion"
        name="descripcion"
        formControlName="descripcion"
        class="form-control shadow"
        placeholder="Ej.: PHP, JavaScript, MS Word, MS Excel, etc."
        [class.border-danger]="DescripcionValid"
      />
      <span *ngIf="DescripcionError" class="errorMessage">{{
        mErrDescripcion
      }}</span>
    </div>
    <div class="mb-3">
      <label for="nivel" class="form-label"
        >Nivel(0-10): {{ Nivel?.value }}</label
      >
      <input
        type="range"
        name="nivel"
        id="nivel"
        formControlName="nivel"
        class="form-range shadow"
        value="0"
        min="0"
        max="10"
        step="1"
        [class.border-danger]="NivelValid"
      />
      <span *ngIf="NivelError" class="errorMessage">{{ mErrNivel }}</span>
    </div>
    <div class="mb-3">
      <label for="tipo" class="form-label">Tipo habilidad:</label>
      <select
        name="tipo"
        id="tipo"
        formControlName="tipo_habilidad_id"
        class="form-select shadow"
        placeholder="Seleccione algo"
        [class.border-danger]="TipoHabilidadIdValid"
      >
        <option value="" selected></option>
        <option value="1">Habilidad Dura</option>
        <option value="2">Habilidad Blanda</option>
        <option value="3">Herramienta</option>
      </select>
      <span *ngIf="TipoHabilidadIdError" class="errorMessage">{{
        mErrTipoHabilidad
      }}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary shadow"
      data-bs-dismiss="modal"
      (click)="closeModal()"
    >
      Cerrar
    </button>
    <button [disabled]="spinner" type="submit" class="btn btn-primary shadow">
      <app-spinner *ngIf="spinner"></app-spinner>
      Aceptar
    </button>
  </div>
</form>
